/* Website width */
.website-width {
    width: 750px;
	margin: 0 auto;
	min-height: 400px;
    padding: 50px 0px 50px 0px
}
/* header style*/
.hf-main {
    width: 750px;
	margin: 0 auto;
	height: 50px;
}
div.hf-wrapper {
	background-color: grey;
}
.logo {
	height: 35px;
	margin-top: 10px;
}
nav{
    float: right;
}
li {
	list-style: none;
    display: inline;
    margin-left: 20px;
    line-height: 20px;
}
.clearfix {
    clear: both;
}
/* first section style*/
.section-wrapper {
	background-color: lightgrey;
	text-align: center;
}
button {
	padding: 15px;
	margin-top: 200px;
	color: white;
	background-color: black;
	text-decoration: underline;
	border-radius: 7px;
}
/* about us article style*/
article h2 {
	text-align: right;
}
p {
	text-align: justify;
}	
/* contact style */
.contact-wraper {
	background-color: #e6ffff;
}
.website-width img {
  max-width: 50%;
  display: block;
  height: auto;
}
/* footer style*/
footer {
	text-align:center;
	line-height: 50px;
	font-style: italic;
	color: white;
}
