div.header-wrapper {
	background-color: lightgrey;
}
/* Website width */
.website-width {
    width: 750px;
	margin: 0 auto;
}
.logo {
	height: 45px;
	margin-top: 10px;
}
nav{
    float: right;
}
li {
	list-style: none;
    display: inline;
    margin-left: 20px;
    line-height: 30px;
}
.clearfix {
    clear: both;
}